body{background-color: black;}
.a{
    height: 80vh;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.a-left{
    width: 100%;
    flex: 1;
    height: 100%;
    position: relative;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    justify-content: center;
}


  div.espacio3D {
  width: 300px;
  height: 300px;
  margin: 3em auto 0 auto;
  position: relative;
  perspective-origin: center -50%;
  perspective: 900px;
  transform: scale(0.55);
}

div.cubo3D {
  width: 50%;
  height: 50%;
  background-color: rgba(0,255,0,0.5);
  position: absolute;
  transform-style: preserve-3d;
  transform: translateZ(350px);
  animation: gira 15s infinite ease-in-out;

}

div.base {
  position: absolute;
  width: 150px;
  height: 150px;
  background-color: rgba(0,0,0,0.15);
  transform: translateX(75px)
   translateY(75px)
    rotateX(90deg)
     translateZ(-200px);
  box-shadow: 0 0 20px 50px rgba(158, 85, 85, 0.15);
}
aside.cara {
  position: absolute;
  width: 298px;
  height: 298px;
  background-color: rgba(0, 0, 0, 0.25);
  border: 3px solid rgba(255,150,0,0.75);
  color: rgba(255, 255, 255);
  font-size: 3em;
  /* text-align: center; */
  line-height: 298px;
  box-shadow: 0px 0px 30px rgba(59, 59, 59, 0.75);
}

aside.cara1 { /* Frente */
  transform: translateZ(190px);
}

aside.cara2 { /* Atrás */
  transform: rotateY(180deg) translateZ(190px);
}

aside.cara3 { /* Izquierda */
  transform: rotateY(-90deg) translateZ(150px);
}

aside.cara4 { /* derecha */
  transform: rotateY(90deg) translateZ(150px);
}

aside.cara5 { /* abajo */
  transform: rotateX(-90deg) translateZ(150px);
}

aside.cara6 { /* arriba */
  transform: rotateX(90deg) translateZ(150px);
}

@keyframes gira {
  0% {
    transform:
    translateX(-0px) translateZ(-250px)
    rotate(0deg);

  }

   25% {
      transform: translateX(-250px)
      rotateX(178deg)
      rotateZ(360deg)
    }

  50% {
    transform:
      translateZ(250px)
      rotateZ(233deg)scale(1.3)
    }


  75% {
      transform: translateX(250px)
      rotateY(321deg)
    }

  100% {
    transform:
      translateZ(-250px)
      scale(1)
      rotate(0deg);
    }

}




/* RIGHT *//* RIGHT *//* RIGHT *//* RIGHT *//* RIGHT *//* RIGHT *//* RIGHT */

.a-right{
    flex: 1;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}
.magic-card{
    height: 75%;
    width: 40%;
    border-radius: 20px;
    background-color: rgb(211, 211, 211);
    box-shadow: -30px -30px 5px -3px rgb(44, 44, 44), inset 0px 0px 30px rgb(19, 19, 19);

}


/* Media queries *//* Media queries *//* Media queries */
/* Media queries *//* Media queries */
/* Media queries */
@media screen and (max-width:780px){
.a{
    flex-direction: column;
    height: 100vh;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.a-right{
    flex: 1;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}
.magic-card{
    height: 75%;
    width: 50%;
    border-radius: 20px;
    background-color: rgb(252, 252, 252);
    
}



}
