body{background-color: black;}
.a{
    height: 100vh;
    display: flex;
    align-items: center;
}
.a-left{
    flex: 1;
    height: 100%;
    border: dashed 2px rgb(255, 166, 0);
}

/* RIGHT *//* RIGHT *//* RIGHT *//* RIGHT *//* RIGHT *//* RIGHT *//* RIGHT */

.a-right{
    flex: 1;
    height: 100%;
    background-color: rgb(0, 0, 0);
    border: dashed 2px rgb(255, 166, 0);
}
.welcome{
    position: relative;
    background-color: #000000;
    height: 400px;
    width: 400px;
    border: dashed 3px white;
    top: 50%;
    left: 50%;
    animation: welcome 2s 1 alternate;
    transform: translateX(-200px)translateY(-200px);
  }
  @keyframes welcome {
    0%{
    background-color:transparent;
      height: 0px;
      width: 0px;}
    30%{
      background-color:transparent;
    }
  
    100%{
     background-color: #000000;
      height: 400px;
    width: 400px;
    }
    
  }
  .cuadrado {
    position: absolute;
    top: 200px;
    left: 249px;
    transform: rotateZ(400deg);
    width: 100px; 
    height: 100px; 
    background: #d108c0;
    animation: cuadrado 3s 3 alternate;
    transition: 1s;
  }
  .cuadrado:hover{
    border-radius: 50%;
    background: #71a8d8;
    box-shadow: 0px 0px 30px #294f70;
    transform: rotateZ(460deg);
  }
  @keyframes cuadrado {
    0%{
      transform: rotateZ(310deg);
      top: 70px;
    left: 150px;
    background: #1d65a3;
    }
  
    80%{
        background: #7fc412;
      top: 180px;
    left: 248px;
    transform: rotateZ(310deg);
    }
    100%{
        background: #d108c0;
      top: 200px;
      left: 249px;
    transform: rotateZ(400deg);
    }
    
  }
  
  .triangulo{
    position: absolute;
    top: 50px;
    left: 150px;
    transform: rotateZ(310deg);
    width: 0; 
    height: 0; 
    border-left: 100px solid #f0ad4e;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    animation: triangulo 3s 3 alternate; 
    transition: 1s;
  }
  .triangulo:hover{
    
    background-color:#4ef097;
    width: 130px; 
    height: 130px; 
    border-left: 0px solid #4ef097;
    box-shadow: 0px 0px 40px #62c28d;
    transform: rotateZ(390deg);
  }
  @keyframes triangulo {
    0%{
      border-left: 100px solid #f0ad4e;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
      top: 0px;
      left: 130px;
      border: dashed 3px white;
    }
    25%{top: 30px;
      left: 10px;
    }
    50%{
      border-left: 200px solid #f0ad4e;
    border-top: 100px solid transparent;
    border-bottom: 100px solid transparent;
      top: 80px;
      left: 230px;
      transform: rotateZ(0deg);
    }
    75%{top: 20px;
      left: 210px;
      transform: rotateZ(310deg);
    }
    100%{
      border-left: 100px solid #f0ad4e;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
      top: 50px;
      left: 150px;
    }
    
  }
  
  
  .luna {
    position: absolute;
    top: 170px;
    left: 80px;
    border: dashed 0px transparent;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 30px 10px 0 #d9534f;
    border: dashed 3px transparent;
    transform: rotateZ(110deg);
    animation: luna 2.2s 3 alternate;
    transition: 1s;
  }
  .luna:hover{
    border-radius: 0%;
    box-shadow: 0px 0px 0 #d9534f;
    width: 120px;
    height: 120px;
    background-color: #f85df0;
  }
  @keyframes luna {
    0%{border: dashed 9px white;
      transform: rotateZ(-100deg);
      width: 0px;
    height: 0px;
      }
  
    40%{width: 170px;
      height: 170px;
      border: dashed 2px rgb(197, 197, 197);
    }
    70%{
      box-shadow: 30px 10px 0 #d9534f;
      width: 120px;
    height: 120px;
    top: 150px;
    left: 30px;
     }
     100%{
      box-shadow: 30px 10px 0 #d9534f;
      width: 120px;
    height: 120px;
    top: 170px;
    left: 80px;
     }
    
  }