.intro{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #3F48CC;
    overflow-y: hidden;
    overflow-x: hidden;
}
.nav{
    position: fixed;
    z-index: 6;
    width: 100%;
    height: 100px;
    border-bottom: dashed rgb(255, 255, 255) 2px;
}
.base{
    z-index: 5;
    position: absolute;
    bottom: 0;
    transform: translateY(0rem);
}
 .base1{
    z-index: 2;
     position: absolute;
     bottom: 6rem;
     
 }
 .base2{
    z-index: 3;
     position: absolute;
     bottom: 3.6rem;
     
 }
 .base3{
    z-index: 4;
     position: absolute;
     bottom: 1.4rem;
    
 }