.s1{
    width: 100%;
    background-color: rgb(252, 252, 252);
    border-bottom: 2px green solid;
    padding-top: 20px;
    transition: 1s;
    overflow: hidden;
    padding-bottom: 22px;
} 


.vermass{
    margin-top: 12.3px;
    color: rgb(138, 138, 138);
    height: 20px;
    width: 100%;
    cursor: pointer;
    transform: translateY(-50px);
  }
  
  .trespuntoss{
    text-align: center;
    line-height: 10px;
    margin: 0;
    transition: 0.2s;
  }


@media (min-width:0px){
    .s1{
        height: 50px;
        width: 100%;
        background-color: rgb(165, 165, 165);
        border-bottom: 2px green solid;
    }  
}

@media (min-width:850px){
    .s1{
        height: 100px;
        width: 100%;
        background-color: rgb(194, 194, 194);
        border-bottom: 2px green solid;
    }  
}
