.s1{
    /* height: 200px; */
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-bottom: 2px green solid;
    padding-top: 20px;
    transition: 1s;
}


.verPlus{
    margin: 0;
    text-align: center;
    display: inline-block;
    color: rgb(255, 255, 255);
}

@media (min-width:0px){
    .s1{
        height: 50px;
        width: 100%;
        background-color: rgb(0, 0, 0);
        border-bottom: 2px green solid;
    }  
}

@media (min-width:850px){
    .s1{
        height: 100px;
        width: 100%;
        background-color: rgb(0, 0, 0);
        border-bottom: 2px green solid;
    }  
}
